body {
  background-image: url("https://raw.githubusercontent.com/fangdarro/leocarrizaleshtmlresumev4/master/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.card {
  left: 15em;
  right: 1em;
  width: 36em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20em;
  align-content: center;
  border-radius: 1em;
}
.profile-image {
  border-radius: 50%;
  margin-left: 2em;
  margin-top: 1em;
  image-resolution: 100%;
  position: relative;
}

.profile-image img {
  border-radius: 50%;
}

footer {
  margin-bottom: 1em;
  color: black;
  height: auto;
  background-color: rgb(9, 204, 238);
}
.card1 {
  left: 6em;
  right: 8em;
  align-content: center;
  margin-top: 6em;
}

h1 {
  font-size: 400%;
  color: white;
  border-style: solid;
  margin-top: 10%;
}
.container-row {
  margin-left: 5em;
}
.LinKED {
  margin-top: 1em;
  margin-left: 1em;
}

main {
  margin-bottom: 3.1em;
}
.outlook {
  margin-top: 1em;
}
